@model IEnumerable<MyPhotos.Entities.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategoriler</h2>

<br />
<table class="table">
    <tr>
        <th>
           Açıklama
        </th>
        <th>
           Başlık
        </th>
       
        <th>
            Oluşturulma Tarihi
        </th>
        <th>
            Değiştirilme Tarihi
        </th>
        <th>
            Değiştiren Kullanıcı
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedUser)
        </td>
        <td>
            <a href="/Categories/Edit/@item.Id" class="btn btn-warning btn-sm" title="Düzenle" ><span class="glyphicon glyphicon-edit"></span></a>
            <a href="/Categories/Details/@item.Id" class="btn btn-info btn-sm" title="Detayına Git"><span class="glyphicon glyphicon-search"></span></a>
            <a href="/Categories/Delete/@item.Id" class="btn btn-danger btn-sm" title="Detayına Git"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>
}

</table>

<script>
    $(function () {

        $("footer").hide()
    });

</script>